
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" >
  <div class="form-group container" >
    <h3 class="d-flex jusify-content-center">Parent Component</h3>
    <label>
     First Name:
      <input formControlName="firstName" placeholder="Your name" required class="form-control">
    </label>
  </div>
  <div class="form-group container" >
    <label>
    Last Name:
      <input formControlName="lastName" placeholder="Your email" required class="form-control"> 
    </label>
  </div>
  <div class="form-group container" >
    <label>
      DOB:
      <input type="date" formControlName="dob" placeholder="Your message" required class="form-control">
    </label>
  </div>
  <div class="container">
  <button type="submit" class="m-1 btn btn-light btn-outline-primary" Button>Send</button>
  </div>
</form>
<app-child [firstName]="firstName" [lastName]="lastName" [dob]="dob" ></app-child>